[Desktop Entry]
Version=1.0
Type=Application
Name=Brave Origin
GenericName=Web Browser
Exec=/usr/bin/brave-origin-nightly %U
Icon=brave-origin-nightly
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=brave-origin-nightly
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chromium;
