[Desktop Entry]
Type=Application
Name=Helium
Comment=Privacy-focused browser
Exec=/home/skyguy/.local/bin/helium
Icon=/home/skyguy/.local/share/applications/icons/Helium.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=helium
