@define-color selected-text {{colors.on_primary.default.hex}};
@define-color text {{colors.on_background.default.hex}};
@define-color base {{colors.background.default.hex}};
@define-color border {{colors.outline.default.hex}};
@define-color foreground {{colors.on_background.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color search-bar {{colors.surface_container_low.default.hex}};
@define-color selected-box {{colors.surface_container_low.default.hex}};

window .box-wrapper {
  border: 2px solid alpha(@border; 0.0)
}

window .search-container,
window .search {
  background: @search-bar;
  color: @foreground;
  border: 2px solid alpha(@border, 0.1 );
  border-radius: 4px;
  padding: 2px 8px;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 400;
}

.box-wrapper {
  border-radius: 8px;
}

child:selected {
  border-radius: 4px;
  background-color: @selected-box;
  box-shadow: inset 2px 0 0 @border;
  transition: all 0.9s ease-in;
  transition: background-color 0.22s ease-in;
}

child:selected .item-box {
  transition: all 0.09s ease-in;
  margin-left: 10px;
}

child:selected .item-box * {
  color: @selected-text;
}

* {
  all: unset;
}

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
}

.preview-box {
}

.box {
}

.search-container {
  background: @base;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
